<!--@if ($total)-->
<div class="info">Total : {$total}</div>
<!--@end-->

<ul>
{@$c = 0}
<!--@foreach($comment_list as $oComment)-->
{@$c++}
<li id="social_comment_{$oComment->get('comment_srl')}">
    <div class="profile_image">
        <!--@if ($oComment->get('link'))-->
            <a href="{$oComment->get('link')}" target="_blank">
        <!--@end-->

        <!--@if($profile_image = $oComment->getProfileImage())-->
            <img src="{$profile_image}" alt="profile image" />
        <!--@else-->
            <img src="./images/anonymous.png" alt="profile image" />
        <!--@end-->

        <!--@if ($oComment->get('link'))-->
            </a>
        <!--@end-->
    </div>
    <div class="right">
        <div class="name">
            <!--@if ($oComment->get('provider'))-->
                <img src="./images/{$oComment->get('provider')}_small.gif" alt="{$lang->provider[$oComment->get('provider')]}" />
            <!--@end-->

            <!--@if ($oComment->get('member_srl'))-->
                <a href="#popup_menu_area" class="member_{$oComment->get('member_srl')}" onclick="return false">{$oComment->getNickName()}</a>
            <!--@else-->
                <!--@if ($oComment->get('link'))-->
                    <a href="{$oComment->get('link')}" target="_blank">{$oComment->getNickName()}</a>
                <!--@else-->
                    {$oComment->getNickName()}
                <!--@end-->
            <!--@end-->
        </div>
        <div class="content">{$oComment->getContent(false)}</div>
        <div class="date">{getTimeGap($oComment->get('regdate'), "Y.m.d H:i:s")}</div>
        <div class="command">
            <!--@if($oComment->isGranted())-->
                <span onclick="deleteSocialComment({$oComment->get('comment_srl')})" style="cursor: pointer">{$lang->cmd_delete}</span>,
            <!--@end-->

            <span id="socialxe_write_comment_{$oComment->get('comment_srl')}" class="write_comment" onclick="viewSubComment('{$skin}', {$document_srl}, {$oComment->get('comment_srl')}, '{$content_link}')">
                {$lang->comment} {$oComment->get('sub_comment_count')}
            </span>
        </div>
        <div id="socialxe_comment_{$oComment->get('comment_srl')}" class="sub_comment" style="display: none;"></div>
        <!--@if ($use_comment_srl)-->
            <script type="text/javascript">
            viewSubComment('{$skin}', {$document_srl}, {$oComment->get('comment_srl')}, '{$content_link}')
            </script>
        <!--@end-->
    </div>
</li>
{@$last_comment_srl = $oComment->get('comment_srl')}
<!--@end-->
</ul>
<!--@if ($c && $c == $list_count)-->
    <div class="more" onclick="moreComment('{$skin}', {$document_srl}, {$last_comment_srl}, {$list_count}, '{$content_link}');">{$lang->more}</div>
<!--@end-->
<!--@if ($use_comment_srl)-->
    <div class="more" onclick="replaceComment('{$skin}', {$document_srl}, {$list_count}, '{$content_link}');">{$lang->viewComment}</div>
<!--@end-->