.socialxe_comment { color: #999; }

.socialxe_comment .inputTypeText { border-color: #333; background: #999; }

/* Control Button + Submit Button */
.socialxe_comment span.socialxe_button,
.socialxe_comment span.socialxe_button button,
.socialxe_comment span.socialxe_button input { position:relative; margin:0; display:inline-block; border:0; font:12px Sans-serif; white-space:nowrap; background:url(../../../common/tpl/images/buttonBlack.gif) no-repeat; vertical-align:middle;}
.socialxe_comment span.socialxe_button button,
.socialxe_comment span.socialxe_button input { height:23px; left:2px; *vertical-align:top; padding:0 10px 0 8px; line-height:24px; background-position:right top; cursor:pointer; *overflow:visible;}

.socialxe_comment .service { border-color: #333; background: #222; }
.socialxe_comment .input { border-color: #333; background: #222;}
.socialxe_comment .input .name { color: #999; }
.socialxe_comment .input .socialxe_wrap .socialxe_left { border-color: #222; }
.socialxe_comment .input .socialxe_wrap .submit input { background: url(../images/submit.black.gif) no-repeat; }

.socialxe_comment .profile_image { border-color: #444; padding: 2px; background: #333; }

.socialxe_comment .content_input { border-color: #333; background: #999;}
.socialxe_comment .content_input textarea { background: #999; }

.socialxe_comment .comment_list li { border-color: #333; }
.socialxe_comment .comment_list .profile_image { background: #333; border-color: #444}
.socialxe_comment .comment_list .date { color: #666 }
.socialxe_comment .comment_list .name a { color: #999; }
.socialxe_comment .comment_list .more { border-color: #333;}
.socialxe_comment .xe_content { color: #999; }